h1{
    color: seagreen;
    text-align: center;
    padding: 61px;
    font-size: 50px;
    
}
p{
    font-size: 40px;
text-align: center;
margin-top: -60px;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

h1 {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}